//====================================================================================================
.header {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	&__wrapper {
		top: -60px;
		@extend .no-anim;
		padding-top: 35px;
		position: fixed;
		width: 100%;
		left: 0;
		z-index: 100;
		transition: all 0.8s ease 0s;
		background-color: $white;
		@media (max-width: $md2+px) {
			padding-top: 25px;
		}
		@media (max-width: $md3+px) {
			padding-top: 15px;
		}
		@media (max-width: $md4+px) {
			padding-top: 0;
		}
	}

	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		min-height: 60px;
		padding: 5px 0px;
	}

	&__logo {
		flex: 0 0 41px;
		position: relative;
		z-index: 20;
		img {
			max-width: 100%;
		}
	}

	&__menu {
	}

	&__profile {
		display: flex;
		align-items: center;
		@media (max-width: $md4+px) {
			justify-content: space-between;
			margin: 30px 0px 0px 0px;
		}
	}

	&__login {
		position: relative;
		z-index: 20;
		min-height: 44px;
		flex: 0 0 132px;
		min-width: 132px;
		font-size: 15px;
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 18, 10, 1);
		}
		@media (max-width: $md4+px) {
			flex: 0 0 48%;
		}
	}
	&__icon {
		margin-left: 20px;
	}
}
.menu {
	flex: 1 1 auto;
	@media (min-width: $md3+px) {
		@include adaptiv-value("margin-right", 35, 20, 1);
	}
	&__wrapper {
		@media (max-width: $md3+px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.5);
			opacity: 0;
			visibility: hidden;
			transition: all 0.8s ease 0s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 60px;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				background-color: $white;
				transition: all 0.8s ease 0s;
				z-index: 15;
			}
			&._active {
				opacity: 1;
				visibility: visible;
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__body {
		@media (max-width: $md3+px) {
			position: fixed;
			width: 355px;
			height: 100%;
			top: 0;
			right: 0;
			padding: 100px 15px 30px 15px;
			background-color: $white;
			z-index: 10;
			overflow: auto;
			opacity: 0;
			visibility: hidden;
			transform: translate(100%, 0px);
			transition: all 0.8s ease 0s;

			&._active {
				opacity: 1;
				visibility: visible;
				transform: translate(0px, 0px);
			}
		}
		@media (max-width: $md4+px) {
			padding: 80px 15px 30px 15px;
			width: 100%;
		}
	}

	&__list {
		@media (min-width: $md3+px) {
			justify-content: flex-end;
			display: flex;
			align-items: center;
		}
		li {
			@media (min-width: $md3+px) {
				&:not(:last-child) {
					@include adaptiv-value("margin-right", 35, 20, 1);
				}
			}
			@media (max-width: $md3+px) {
				&:not(:last-child) {
					@include adaptiv-value("margin-bottom", 30, 20, 1);
				}
			}
		}
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 19 / 16 * 100%;
		color: $fadeGrey;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $dark;
			}
		}
		&._active {
			color: $dark;
		}
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: relative;
		top: 0px;
		right: 0px;
		width: 30px;
		height: 20px;
		cursor: pointer;
		z-index: 20;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $dark;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
