//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {
	font-family: "Playfair Display";
	font-weight: 700;
	@include adaptiv-font(36, 24, 1);
	line-height: 50 / 36 * 100%;
}
.link {
	font-weight: 600;
	font-size: 17px;
	line-height: 25 / 17 * 100%;
}

.navigation {
	position: absolute;
	top: 450px;
	right: 20px;
	background-color: $white;
	z-index: 20;
	width: 132px;
	height: 60px;
	border-radius: 16px 0px 0px 0px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	@media (max-width: $md3+px) {
		top: 360px;
	}
	@media (max-width: 650px) {
		top: 0;
		right: 0;
		background-color: transparent;
		height: 40px;
	}
	&__nav-item {
		border: 2px solid $fadeGrey;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		font-size: 10px;
		color: $fadeGrey;
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 20, 10, 1);
		}
		@media (any-hover: hover) {
			&:hover {
				border: 2px solid $dark;
				color: $dark;
			}
		}
		&_prev {
			transform: rotate(90deg);
		}

		&_next {
			transform: rotate(-90deg);
		}
	}
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include adaptiv-value("margin-bottom", 56, 20, 1);
	@media (max-width: $md4+px) {
		flex-wrap: wrap;
	}
	&__title {
		@extend .title;
		margin: 0px 20px 0px 0px;
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			margin: 0px 0px 10px 0px;
		}
	}

	&__more {
		@extend .link;
		transition: all 0.3s ease 0s;
		color: $orange;
		display: flex;
		align-items: center;
		@media (any-hover: hover) {
			&:hover {
				color: $dark;
			}
		}
		&::after {
			margin: 0px 0px 0px 10px;
			font-size: 10px;
			transform: rotate(-90deg);
		}
	}
}

.circle,
.circle-testi {
	position: absolute;
	z-index: -1;
	img {
		max-width: 100%;
	}
}
.cross-testi,
.cross {
	position: absolute;
	z-index: -1;
	img {
		max-width: 100%;
	}
}

.no-anim {
	opacity: 0;
	visibility: hidden;
}
.anim {
	visibility: visible;
	opacity: 1;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================

/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Элемент точки */
.slick-dots li button {
	font-size: 0;
}

//========================================================================================================================================================
