%title {
    font-family: "Playfair Display";
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 24);
    line-height: math.div(50, 36);
}
%link {
    font-weight: 600;
    font-size: rem(17);
    line-height: math.div(25, 17);
}

%no-anim {
    opacity: 0;
    visibility: hidden;
}

%anim {
    visibility: visible;
    opacity: 1;
}

.circle,
.circle-testi,
.cross-testi,
.cross {
    position: absolute;
    z-index: -1;
    img {
        max-width: 100%;
    }
}

//========================================================================================================================================================

.navigation {
    position: absolute;
    top: rem(450);
    right: rem(20);
    background-color: $white;
    z-index: 20;
    width: rem(132);
    height: rem(60);
    border-radius: rem(16) 0px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @media (max-width: $mobile) {
        top: rem(360);
    }
    @media (max-width: em(650)) {
        top: 0;
        right: 0;
        background-color: transparent;
        height: rem(40);
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0.2);
    }
    &__item {
        border: rem(2) solid $fadeGrey;
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        font-size: rem(10);
        color: $fadeGrey;
        transition: border 0.3s ease 0s, color 0.3s ease 0s;
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 20, 10);
        }
        @media (any-hover: hover) {
            &:hover {
                border: rem(2) solid $dark;
                color: $dark;
            }
        }
        &_prev {
            transform: rotate(90deg);
        }

        &_next {
            transform: rotate(-90deg);
        }
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("margin-bottom", 56, 20);
    gap: rem(20);
    // ANIMATION ========================================================================================================================================================
    @include inViewBasic(0, 30%, 0.8, 0.2);

    @media (max-width: $mobileSmall) {
        flex-wrap: wrap;
    }
    &__title {
        @extend %title;
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__more {
        @extend %link;
        transition: color 0.3s ease 0s;
        color: $orange;
        display: flex;
        align-items: center;
        gap: rem(10);
        &::after {
            font-size: rem(10);
            transform: rotate(-90deg);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $dark;
            }
        }
    }
}
