.footer {
    @include adaptiveValue("margin-top", 150, 40, 1220, 767.98, 1);
    background-color: $bg;
    &__container {
    }

    &__body {
        @include adaptiveValue("padding-top", 75, 20);
        @include adaptiveValue("padding-bottom", 80, 25);
        display: flex;
        justify-content: space-between;
        border-bottom: rem(1) solid $grey3;
        @media (max-width: em(850)) {
            flex-wrap: wrap;
        }
        @media (min-width: $mobileSmall) {
            gap: rem(20);
        }
    }

    &__info {
        flex: 0 1 rem(410);
        font-family: "Mulish";
        font-weight: 300;
        font-size: rem(18);
        line-height: math.div(28, 18);
        color: $grey2;
        @media (max-width: $tablet) {
            flex: 0 1 rem(300);
        }
        @media (max-width: em(850)) {
            flex: 1 1 100%;
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(20);
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(0, 30%, 0.8, 0.2);
    }

    &__logo {
        display: inline-flex;
        width: rem(44);
        height: rem(44);
        @include adaptiveValue("margin-bottom", 25, 20);
        img {
            max-width: 100%;
        }
    }

    &__text {
        @include adaptiveValue("margin-bottom", 55, 20, 1220, 850, 1);
    }

    &__copy {
    }

    &__column {
        flex: 0 1 rem(185);
        @media (max-width: em(850)) {
            flex: 0 1 calc(33.333% - rem(15));
        }
        @media (max-width: em(570)) {
            flex: 1 1 100%;
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(0, 30%, 0.8, 0.2);
    }

    &__label {
        font-family: "Mulish";
        font-weight: 700;
        font-size: rem(19);
        line-height: math.div(60, 19);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: color 0.5s ease 0s;
        &::after {
            font-size: rem(15);
            transition: transform 0.5s ease 0s;
            @media (min-width: em(570)) {
                display: none;
            }
        }
        &._spoller-active {
            color: $orange;
            &::after {
                transform: rotate(-180deg);
            }
        }
        @media (max-width: em(570)) {
            cursor: pointer;
        }
    }

    &__list {
    }

    &__link {
        font-family: "Mulish";
        font-weight: 300;
        font-size: rem(18);
        line-height: math.div(38, 18);
        color: $grey2;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $orange;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("padding-top", 30, 20, 767.98, 479.98, 1);
        @include adaptiveValue("padding-bottom", 30, 20, 767.98, 479.98, 1);

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(0, 30%, 0.8, 0.2);
    }

    &__item {
        transition: color 0.3s ease 0s;
        font-size: rem(22);
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 35, 25);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $orange;
            }
        }
    }
}
