.main {
    &__container {
        position: relative;
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            @media (max-width: $tablet) {
                align-items: center;
            }
        }
    }

    &__info {
        flex: 0 0 rem(470);
        @media (min-width: $tablet) {
            margin-top: rem(35);
        }
        @media (max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media (max-width: em(870)) {
            flex: 0 1 40%;
        }
        @media (min-width: $mobile) {
            margin-right: rem(30);
        }
    }

    &__image {
        flex: 0 1 rem(687);
        @media (min-width: em(1599.98)) {
            margin-right: rem(-87);
        }
        @media (max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media (max-width: em(870)) {
            flex: 0 1 60%;
        }
        @media (max-width: $mobile) {
            max-width: percent(500, 768);
            margin: 0 auto rem(20) auto;
        }
        img {
            max-width: 100%;
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.2);
    }

    &__circle {
        &_1 {
            width: rem(26);
            height: rem(26);
            top: 50%;
            left: rem(-100);
            @media (max-width: em(1599.98)) {
                top: 32%;
                left: 4%;
            }
            @media (max-width: $tablet) {
                left: 20%;
            }
            @media (max-width: $mobile) {
                left: 2%;
            }
        }

        &_2 {
            width: rem(20);
            height: rem(20);
            bottom: rem(16);
            left: percent(540, 1220);
            @media (max-width: $mobile) {
                bottom: rem(-40);
                left: 80%;
            }
        }

        // ANIMATION ========================================================================================================================================================
        transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
        @extend %no-anim;
    }
    &__cross {
        width: rem(20);
        height: rem(20);
        top: rem(55);
        left: percent(466, 1220);
        @media (max-width: $tablet) {
            top: rem(20);
            left: 45%;
        }
        @media (max-width: $mobile) {
            left: auto;
            top: rem(100);
            right: rem(20);
        }

        // ANIMATION ========================================================================================================================================================
        transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
        @extend %no-anim;
    }
}
.info-main {
    &__title {
        font-family: "Playfair Display";
        font-weight: 700;
        @include adaptiveValue("font-size", 64, 40);
        line-height: math.div(80, 64);
        @include adaptiveValue("margin-bottom", 75, 20, 1220, 767.98, 1);

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.2);
    }

    &__form {
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.5);
    }

    &__subtitle {
        font-weight: 600;
        font-size: rem(22);
        line-height: math.div(27, 22);
        @include adaptiveValue("padding-bottom", 20, 10);
        @include adaptiveValue("margin-bottom", 48, 20);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: rem(32);
            height: rem(2);
            background-color: $dark;
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.3);
    }

    &__form-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("margin-bottom", 50, 30);
        gap: rem(35) rem(30);
        @media (max-width: $mobile) {
            @include adaptiveValue("gap", 20, 10, 767.98, 320, 1);
        }
    }

    &__date {
        .input {
            min-height: rem(54);
        }
        .datepicker {
            .day.selected {
                background-color: $orange;
            }
        }
    }

    &__btn {
        min-height: rem(52);
        min-width: rem(180);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.5);
    }
}

//========================================================================================================================================================

.holder {
    &_sunny {
        .holder__image {
            flex: 0 1 rem(600);
            margin-left: 0;
            margin-right: rem(30);
            @media (max-width: $tablet) {
                flex: 0 1 50%;
                margin: 0;
            }
            @media (max-width: $mobile) {
                margin: 0 auto rem(20) auto;
            }
        }
        .holder__content {
            @include adaptiveValue("margin-top", 150, 0, 1220, 767.98, 1);
            margin-left: rem(50);
            @media (max-width: $tablet) {
                margin-left: 0px;
                margin-right: rem(30);
            }
            @media (max-width: $mobile) {
                margin: 0;
            }
        }
        .content-holder__title,
        .content-holder__text,
        .content-holder__btn {
            // ANIMATION ========================================================================================================================================================
            @include inViewBasic(-50%, 0, 0.8, 0.2);
        }
    }
    &__container {
        position: relative;
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__image {
        flex: 0 1 rem(660);
        img {
            max-width: 100%;
        }
        @media (min-width: em(1599.98)) {
            margin-left: rem(-50);
        }
        @media (max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobile) {
            margin: 0 auto rem(20) auto;
            max-width: percent(500, 768);
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.2);
    }

    &__content {
        flex: 0 0 rem(480);
        margin: 0px rem(30);
        @media (max-width: $tablet) {
            flex: 0 1 50%;
            margin-left: rem(30);
            margin-right: 0px;
        }
        @media (max-width: $mobile) {
            margin: 0;
        }
    }
    &__circle {
        width: rem(20);
        height: rem(20);
        &_explore {
            bottom: 25%;
            @include adaptiveValue("right", 160, 40);
            @media (max-width: $pc) {
                bottom: rem(-35);
            }
        }
        &_sunny {
            top: rem(85);
            left: rem(90);
            @media (max-width: $tablet) {
                top: rem(-20);
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
    &__cross {
        width: rem(20);
        height: rem(20);
        &_explore {
            transform: rotate(7.49deg);
            top: 0px;
            left: 50%;
            @media (max-width: $mobile) {
                left: rem(20);
                top: 100px;
            }
        }
        &_sunny-1 {
            left: 40%;
            bottom: rem(90);
            transform: rotate(20.42deg);
            @media (max-width: em(850)) {
                bottom: 0;
            }
            @media (max-width: $mobile) {
                left: 80%;
            }
            @media (max-width: $mobileSmall) {
                bottom: rem(-40);
            }
        }

        &_sunny-2 {
            right: rem(-20);
            top: rem(30);
            width: rem(16);
            height: rem(16);
            transform: rotate(9.99deg);
            @media (max-width: em(1599.98)) {
                right: rem(40);
            }
        }
    }
}

.content-holder {
    @include adaptiveValue("margin-top", 110, 0, 1220, 767.98, 1);
    &__title {
        @extend %title;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0.2);
    }

    &__text {
        font-weight: 300;
        font-size: rem(17);
        line-height: math.div(30, 17);
        color: $grey;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
        @media (min-width: $tablet) {
            padding-right: rem(30);
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0.2);
    }

    &__btn {
        min-height: rem(48);
        min-width: rem(165);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0.2);
    }
}

//========================================================================================================================================================

.destinations {
    &__container {
        position: relative;
    }

    &__top {
        @media (min-width: $pc) {
            padding: 0 rem(50);
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(25);
        @media (min-width: $pc) {
            padding: 0 rem(50);
        }
        @media (max-width: em(850)) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            gap: rem(50);
            grid-template-columns: 1fr;
        }
    }

    &__inner {
        border-radius: rem(8);
        display: block;
        overflow: hidden;
        @media (any-hover: hover) {
            &:hover {
                .destinations__image-ibg {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }
        // ANIMATION ========================================================================================================================================================
        &:nth-child(1) {
            @include inViewBasic(-50%, 0, 0.8, 0.2);
        }
        &:nth-child(2) {
            @include inViewBasic(-50%, 0, 0.8, 0.4);
        }
        &:nth-child(3) {
            @include inViewBasic(-50%, 0, 0.8, 0.6);
        }
        &:nth-child(4) {
            @include inViewBasic(-50%, 0, 0.8, 0.8);
        }
        @media (max-width: $mobileSmall) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                @include inViewBasic(-50%, 0, 0.8, 0.2);
            }
        }
    }

    &__image-ibg {
        padding-bottom: percent(330, 260);
        min-height: rem(250);
        img {
            transition: transform 0.3s ease 0s;
        }
    }

    &__content {
        position: absolute;
        bottom: 0;
        max-width: 80%;
        padding: rem(10) rem(20) 0px 0px;
        background-color: $white;
        border-radius: 0px rem(6) 0px 0px;
        min-width: rem(122);
    }

    &__subtitle {
        @extend %link;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $orange;
            }
        }
    }

    &__country {
        font-weight: 500;
        line-height: math.div(24, 15);
        color: $grey;
    }
    &__circle {
        &_1 {
            width: rem(20);
            height: rem(20);
            top: rem(-20);
            right: 25%;
            @media (max-width: em(850)) {
                top: 0;
                right: 30%;
            }
            @media (max-width: $mobileSmall) {
                display: none;
            }
        }

        &_2 {
            width: rem(20);
            height: rem(20);
            bottom: rem(-50);
            left: 45%;
            @media (max-width: $mobile) {
                bottom: rem(-20);
                left: 15%;
            }
        }
    }
    &__cross {
        width: rem(20);
        height: rem(20);
        bottom: 25%;
        left: rem(-50);
        @media (max-width: em(1599.98)) {
            left: rem(15);
        }
        @media (max-width: $pc) {
            display: none;
        }
        @media (max-width: $mobileSmall) {
            display: block;
            left: auto;
            bottom: auto;
            top: rem(30);
            right: 5%;
        }
    }
}

//========================================================================================================================================================

.testi {
    &__container {
        position: relative;
    }

    &__title {
        @extend %title;
        @include adaptiveValue("margin-bottom", 40, 0);
        @media (min-width: $pc) {
            padding: 0 rem(50);
        }
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.2);
    }

    &__body {
        position: relative;
        @media (min-width: $pc) {
            margin: 0px rem(130) 0 rem(30);
        }
    }

    &__slider {
    }

    &__wrapper {
    }

    &__slide {
    }

    &__circle {
        width: rem(20);
        height: rem(20);
        top: 45%;
        left: rem(-80);
        @media (max-width: em(1599.98)) {
            left: 0;
        }
        @media (max-width: $pc) {
            top: 15%;
            left: rem(50);
        }
        @media (max-width: $tablet) {
            top: rem(-40);
        }
        @media (max-width: em(650)) {
            top: auto;
            bottom: rem(-40);
        }
    }
}

.slide-testi {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: rem(20);
    background-color: $white;
    @media (max-width: $pc) {
        padding-left: rem(0);
    }
    @media (max-width: em(650)) {
        padding: rem(20) 0px 0px 0px;
    }

    &__content {
        flex: 0 1 rem(450);
        display: flex;
        height: 100%;
        flex-direction: column;
        @media (min-width: $tablet) {
            @include adaptiveValue("margin-top", 65, 0);
        }
        @media (max-width: $mobile) {
            flex: 0 1 50%;
        }
        @media (max-width: em(650)) {
            flex: 1 1 100%;
        }
    }

    &__stars {
        display: flex;
        align-items: center;
        @include adaptiveValue("margin-bottom", 30, 20);
        span {
            @include adaptiveValue("font-size", 25, 18);
            color: #ffbb0c;
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 15, 10);
            }
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.2);
    }

    &__text {
        font-family: "Mulish";
        @include adaptiveValue("font-size", 24, 18);
        line-height: math.div(36, 24);
        @include adaptiveValue("margin-bottom", 40, 15);
        flex: 1 1 auto;

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.2);
    }

    &__bottom {
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.2);
    }

    &__name {
        font-weight: 700;
        font-size: rem(22);
        line-height: math.div(48, 22);
    }

    &__work {
        font-size: rem(18);
        color: rgba(0, 0, 0, 0.85);
    }

    &__image-ibg {
        flex: 0 0 rem(385);
        height: rem(490);
        margin-left: rem(30);
        img {
            border-radius: rem(14);
            overflow: hidden;
            position: relative;
            z-index: 15;
        }
        span {
            width: rem(42);
            height: rem(42);
        }
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            height: rem(400);
        }
        @media (max-width: em(650)) {
            display: none;
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.4);
    }

    &__circle {
        top: rem(-18);
        right: rem(-18);
        z-index: 10;
    }

    &__cross {
        bottom: rem(-16);
        left: rem(-16);
        transform: rotate(8.17deg);
        z-index: 20;
    }
}

//========================================================================================================================================================

.trends {
    &__top {
        @media (min-width: $pc) {
            padding: 0 rem(50);
        }
    }
    &__container {
        position: relative;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(25);
        @media (min-width: $pc) {
            padding: 0 rem(50);
        }
        @media (max-width: em(850)) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
            gap: rem(50);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (any-hover: hover) {
            &:hover {
                .trends__image-ibg {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }

        // ANIMATION ========================================================================================================================================================
        &:nth-child(1) {
            @include inViewBasic(-50%, 0, 0.8, 0.2);
        }
        &:nth-child(2) {
            @include inViewBasic(-50%, 0, 0.8, 0.4);
        }
        &:nth-child(3) {
            @include inViewBasic(-50%, 0, 0.8, 0.6);
        }
        &:nth-child(4) {
            @include inViewBasic(-50%, 0, 0.8, 0.8);
        }
        @media (max-width: $mobileSmall) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                @include inViewBasic(0, 0, 0.8, 0.2);
            }
        }
    }

    &__image-ibg {
        border-radius: rem(8) rem(8) 0px 0px;
        overflow: hidden;
        padding-bottom: percent(230, 260);
        margin-bottom: rem(15);
        min-height: rem(250);
        img {
            transition: transform 0.3s ease 0s;
        }
    }

    &__title {
        flex: 1 1 auto;
        margin-bottom: rem(15);
        font-weight: 700;
        font-size: rem(19);
        line-height: math.div(30, 19);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $orange;
            }
        }
    }

    &__text {
        line-height: math.div(26, 15);
        color: $grey;
        max-height: rem(80);
        overflow: hidden;
        @include adaptiveValue("margin-bottom", 25, 10, 1220, 767.98, 1);
    }

    &__more {
        font-weight: 600;
        line-height: math.div(28, 15);
        color: $orange;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $dark;
            }
        }
    }
    &__circle {
        width: rem(20);
        height: rem(20);
        &_1 {
            bottom: 30%;
            left: rem(-30);
            @media (max-width: em(1599.98)) {
                left: rem(20);
            }
            @media (max-width: $pc) {
                display: none;
            }
        }

        &_2 {
            bottom: rem(-25);
            left: 70%;
            @media (max-width: em(650)) {
                bottom: rem(25);
                left: 87%;
            }
        }
    }

    &__cross {
        width: rem(20);
        height: rem(20);
        top: rem(-40);
        left: 45%;
        @media (max-width: em(650)) {
            display: none;
        }
    }
}
