@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish:300,regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap");
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Inter";
$fontSize: rem(15); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$white: #fff;
$dark: #202336;
$orange: #fb8f1d;
$grey: #7d7987;
$fadeGrey: #b8becd;
$bg: #f9f9fb;
$mainColor: $dark; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1600;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1220;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
    background-color: $white;
    // Скролл заблокирован
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    // Сайт загружен
    .loaded & {
        .slide-testi {
            display: flex;
        }
        .header__wrapper {
            top: 0;
            @extend .anim;
        }
        .main {
            .circle,
            .cross {
                @extend .anim;
            }
        }
    }
    &._scroll {
        .header__wrapper {
            padding-top: 0px;
        }
    }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

//========================================================================================================================================================

.page {
    &__main {
        padding-top: 170px;
        @media (max-width: $md2+px) {
            padding-top: 140px;
        }
        @media (max-width: 870px) {
            padding-top: 120px;
        }
        @media (max-width: $md3+px) {
            padding-top: 100px;
        }
        @media (max-width: $md4+px) {
            padding-top: 80px;
        }
        @include adaptiv-value("padding-bottom", 140, 30, 1);
    }
    &__explore {
        @include adaptiv-value("padding-top", 140, 30, 1);
        @include adaptiv-value("padding-bottom", 140, 30, 1);
    }

    &__destinations {
        @include adaptiv-value("padding-top", 140, 30, 1);
        @include adaptiv-value("padding-bottom", 120, 30, 1);
    }
    &__sunny {
        @include adaptiv-value("padding-top", 110, 30, 1);
        @include adaptiv-value("padding-bottom", 120, 30, 1);
    }
    &__testi {
        @include adaptiv-value("padding-top", 120, 30, 1);
        @include adaptiv-value("padding-bottom", 100, 30, 1);
    }
    &__trends {
        @include adaptiv-value("padding-top", 120, 30, 1);
        @include adaptiv-value("padding-bottom", 130, 0, 1);
    }
}
